*, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 70px;
    height: 100vh;
    background-color: #3c7799;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: 0px 0px 20px #d4d4d4;

    transition: .3s ease;
}

.main-menu:hover {
    width: 270px;
    /* overflow-y: scroll; */
}

.main-menu .menu-item {
    padding: 10px;
}

.main-menu .menu-item:hover {
    background-color: #fff;
    cursor: pointer;
}

.main-menu .menu-item .fa {
    font-size: 25px;
    width: 40px;
    padding: 10px;
}
/* ::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent !important;
}

::-webkit-scrollbar-thumb {
    background: #c7c7c7;
    border-radius: 10px;
} */