:root {
    --text-font-fam-poppins: 'Poppins', sans-serif;
    --text-font-fam-roboto: 'Roboto', sans-serif;
    --btn-sell-color: #4baa13;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: var(--text-font-fam-poppins);
}

.container {
    margin-top: 2em;
    margin-left: 5em;
    margin-right: 5em;
}

/* Navigation GROUP STYLE ------------------*/

.bg-img-logo {
    position: absolute;
    z-index: -1;
    margin-left: 10em;
    margin-top: 2em;
}

.bg-img-logo-item {
    width: 15em;
}

.bg-img-circle {
    position: absolute;
    z-index: -1;
    margin-left: -22em;
    margin-top: -16em;
}

.bg-img-circle-item {
    width: 90%;
}

.bg-img-worker {
    position: absolute;
    z-index: -1;
    margin-left: 45%;
    margin-top: 25em;
}

.bg-img-worker-item {
    width: 70%;
}

.bg-img-dot-connection {
    position: absolute;
    z-index: -1;
    margin-left: 55%;
    margin-top: 5%;
}

.bg-img-dot-connection-item {
    width: 90%;
}


.nav-layout-container {
    display: flex;
    flex-direction: row;
    padding-bottom: 18em;
    justify-content: flex-end;
}

.nav-items-group {
    display: flex;
    flex-direction: row;
    margin-right: 4em;
}

.nav-item {
    margin-right: 4em;
    font-size: 1rem;
    text-decoration: none;
    color: black;
    transition: all .1s ease-in-out;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: var(--text-font-fam-poppins);
}

.nav-item:hover {
    /* text-decoration: underline; */
    transform: scale(1.3)
}

/* LOGIN GROUP STYLE ------------------*/
.login-layout-container {
    width: 30em;
    margin-left: 5em;
}

.login-group {
    display: flex;
    flex-direction: column;
    width: 15em;
}

.login-group-item {
    margin-bottom: 0.5em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; */
    border-radius: 5px;
}

login-group-item:focus{
    outline: none;
}

.input-box {
    font-size: 1rem;
    padding: 0.4em;
    width: 15em;
    border-width: thin;
    outline: none;
    border: 1px solid rgba(189, 189, 189, 0.5);
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: var(--text-font-fam-poppins);
    letter-spacing: 0.1rem;
}

.btn-signin {
    margin-top: 2em;
    padding: 1em;
    background-color: var(--btn-sell-color);
    color: white;
    border: none;
    transition: all .2s ease-in-out;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: bold;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: var(--text-font-fam-poppins);
    font-size: 1rem;
}

.btn-signin:hover {
    cursor: pointer;
    transform: scale(1.1)
}

.text-forgot-password {
    text-decoration: none;
    font-size: 0.8rem;
    margin-top: 0.1em;
    color: black;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: var(--text-font-fam-poppins);
}

.text-forgot-password:hover {
    text-decoration: underline;
}